/* Projects.css */
#projects {
  padding: 50px 20px;
  background-color: #FFFFFF;
  color: #003366;
}

.project-card {
  background:#F0F0F0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  margin-top: 0;
  color: #003366;
}

.project-card p {
  color:#003366;
}
